{% extends 'index.html' %}
{% block title %}<title>Change Password</title>{% endblock %}
{% load static %}


{% block content %}

<form method="post">
    {% csrf_token %}
    <section class="vh-100 gradient-custom">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <!-- Added shadow and rounded classes to create a card-like effect -->
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-3 mt-2">
                                {% if messages %}
                                <div class="alert alert-warning" role="">
                                    {% for message in messages %}
                                    {{message}}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <h2 class="fw-bold mb-2 text-uppercase">Forget Password?</h2>

                                <p class="text-white-50 mb-5">Please enter your Password!</p>
                                <div class="form-outline form-white mb-4">
                                    <input type="password"  name="password" required placeholder="New Password" id="typePasswordX" class="form-control form-control-lg mx-auto d-block" style="width: 80%;" />
                                    <label class="form-label" for="typePasswordX"></label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password"  name="confirm_password" required placeholder="Confirm Password" id="typePasswordX" class="form-control form-control-lg mx-auto d-block" style="width: 80%;" />
                                    <label class="form-label" for="typePasswordX"></label>
                                </div>

                                <button type="submit" class="btn btn-primary px-5">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}
