{% extends 'index.html' %}

{% block content %}
{% load static %} 
{% load humanize %}
<div class="section-container" id="checkout-cart">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
           <form action="{% url 'add_to_cart' %}" method="post" id="cart-form">
                {% csrf_token %}
                <div class="checkout-header">
                    <!-- BEGIN row -->
                    <div class="row">
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step active">
                                <a href="#">
                                    <div class="number">1</div>
                                    <div class="info">
                                        <div class="title">Free Delivery</div>
                                        <div class="desc">Enjoy free delivery across Pakistan. No minimum purchase required</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'checkout_info' %}">
                                    <div class="number">2</div>
                                    <div class="info">
                                        <div class="title">Shipping Address</div>
                                        <div class="desc">Provide your shipping address so we can deliver your order securely.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'checkout_payment' %}">
                                    <div class="number">3</div>
                                    <div class="info">
                                        <div class="title">Payment</div>
                                        <div class="desc">Choose your preferred payment method to complete your order</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'checkout_complete' %}">
                                    <div class="number">4</div>
                                    <div class="info">
                                        <div class="title">Complete Payment</div>
                                        <div class="desc">Review your order details and complete the payment process.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END checkout-header -->


<div class="checkout-body">
    <div class="checkout-message">
        <h1>Thank you! <small>Your Payment has been successfully processed with the following details.</small></h1>
        <div class="table-responsive">

            <table class="table table-bordered table-payment-summary">
                <thead class="thead-light">
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Tracking ID</th>
                        <th>Order Placed Date</th>
                        <th>Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ordered_items %}
                        {% for ordered_item in ordered_items %}
                            <tr>
                                <td>{{ ordered_item.product.product_name }}</td>
                                <td>{{ ordered_item.quantity }}</td>
                                <td>{{ ordered_item.total_price|floatformat:"2"|intcomma }}</td>
                                <td>{{ ordered_item.order_id }}</td>
                                <td>{{ ordered_item.created_at|date:"F j, Y" }}</td>
                                <td>{{ delivery_date|date:"F j, Y" }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">No recent orders found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
                


        </div>
        <p class="text-muted text-center">Should you require any assistance, you can get in touch with the Support Team at (123) 456-7890.</p>
    </div>
</div>
{% endblock %}