{% extends 'index.html' %}
{% block content %}
{% load static %}   
        
        <!-- BEGIN #checkout-payment -->
        <div class="section-container" id="checkout-info">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN checkout -->
                <div class="checkout">
                    <form action="{% url 'checkout_info' %}" method="POST" name="form_shipping" class="form-horizontal">
                        {% csrf_token %}
                        <!-- BEGIN checkout-header -->
                        <div class="checkout-header">
                            <!-- BEGIN row -->
                            <div class="row">
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="{% url 'add_to_cart' %}">
                                            <div class="number">1</div>
                                            <div class="info">
                                                <div class="title">Free Delivery</div>
                                                <div class="desc">Enjoy free delivery across Pakistan. No minimum purchase required.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step active">
                                        <a href="#">
                                            <div class="number">2</div>
                                            <div class="info">
                                                <div class="title">Shipping Address</div>
                                                <div class="desc">Provide your shipping address so we can deliver your order securely.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="/checkout_payment">
                                            <div class="number">3</div>
                                            <div class="info">
                                                <div class="title">Payment</div>
                                                <div class="desc">Choose your preferred payment method to complete your order. </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="c/heckout_complete">
                                            <div class="number">4</div>
                                            <div class="info">
                                                <div class="title">Complete Payment</div>
                                                <div class="desc">Review your order details and complete the payment process.</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END checkout-header -->
                        
                        <!-- BEGIN checkout-body -->
                        <div class="checkout-body">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    First Name <span class="text-danger">*</span>
                                </label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="first_name" value="" placeholder="" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Last Name <span class="text-danger">*</span>
                                </label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="last_name" value="" placeholder="" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Company Name (optional)<span class="text-danger">&nbsp;</span>
                                </label>

                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="company_name" value="" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Area Code <span class="text-danger">*</span>
                                </label>

                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="area_code" value="" placeholder="" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Primary Phone <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="primary_phone" value="" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Street Address <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control m-b-10" name="street_address" value="" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    ZIP Code<span class="text-danger">*</span>
                                </label>
                                
                                <div class="col-md-4">
                                    
                                    <input type="text" class="form-control" name="zip_code" value="" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    &nbsp;
                                </label>

                                <!-- <div class="col-md-4">
                                    <label class="f-w-500">
                                        <input type="checkbox" name="business_address" value="1" />
                                        This is a business address
                                        <a href="#" class="m-l-5 text-muted" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="This helps us choose the best shipping method for you. Business shipments are normally delivered on weekdays by 5:00 p.m. local time. Residential shipments are normally delivered Monday - Saturday by 8:00 p.m. local time.">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </label>
                                </div> -->

                            </div>

                            <hr>
                            <div class="m-b-5"><b>Shipping Policy</b></div>
                            <ul class="checkout-info-list">
                                <li>Signature may be required for delivery</li>
                                <li>We do not ship to P.O. boxes</li>
                                <li>Delivery estimates below include item preparation and shipping time</li>
                                <li>We do not ship directly to APO/FPO addresses.</li>
                            </ul>
                        </div>
                        <!-- END checkout-body -->
                        <!-- BEGIN checkout-footer -->
                        <div class="checkout-footer">
                            <a href="{% url 'add_to_cart' %}" class="btn btn-white btn-lg pull-left">Back</a>
                            <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Continue</button>
                        </div>
                        <!-- END checkout-footer -->
                    </form>
                </div>
                <!-- END checkout -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #checkout-info -->
       
    {% endblock %}