{% extends 'index.html' %}
{% block title %}<title>Forget Password</title>{% endblock %}
{% load static %}


{% block content %}
<div class="container">
    <form method="post">
        
        {% csrf_token %}
        
        <h2 class="text-center mb-4">Forget Password</h2>
        <hr>

        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
       

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" name="email" required class="form-control" style="font-size: 14px; padding: 0.375rem 0.75rem; width: 100%;" placeholder="Enter your Email">
        </div>
        
        
        <p>Didn't have an account? <a href="{% url 'register' %}">Register</a></p>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        <button type="submit" class="btn btn-primary px-5">Submit</button>
    </form>
</div>
{% endblock %}
