{% extends 'index.html' %}
    {% block content %}
        {% load static %}   
        {% load humanize %}
    
        <!-- BEGIN #slider -->
        <div id="slider" class="section-container p-0 bg-black-darker">
            <!-- BEGIN carousel -->
            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                <!-- BEGIN carousel-inner -->
                <div class="carousel-inner"> 
                    <!-- BEGIN item -->
                    <div class="item active">
                        <img src="{% static 'assets/img/slider-1-cover.jpg' %}" class="bg-cover-img" alt="" />
                        <div class="container">
                            <img src="{% static 'assets/img/slider-1-product.png' %}" class="product-img right bottom fadeInRight animated" alt="" />
                        </div>
                        <div class="carousel-caption carousel-caption-left">
                            <div class="container">
                                <h3 class="title m-b-5 fadeInLeftBig animated">IMac</h3> 
                                <p class="m-b-15 fadeInLeftBig animated">Retina. Now in colossal and ginormous.</p>
                                <div class="price m-b-30 fadeInLeftBig animated"><small>from</small> <span>Rs. 5,89047</span></div>
                                <a href="/product_detail/apple-imac-m1" class="btn btn-outline btn-lg fadeInLeftBig animated">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- END item -->
                    
                    <!-- BEGIN item -->
                    <div class="item">
                        <img src="{% static 'assets/img/slider-2-cover.jpg' %}" class="bg-cover-img" alt="" />
                        <div class="container">
                            <img src="{% static 'assets/img/slider-2-product.png' %}" class="product-img left bottom fadeInLeft animated" alt="" />
                        </div>
                        <div class="carousel-caption carousel-caption-right">
                            <div class="container">
                                <h3 class="title m-b-5 fadeInRightBig animated">iPhone 6s</h3> 
                                <p class="m-b-15 fadeInRightBig animated">The only thing that’s changed is everything</p>
                                <div class="price m-b-30 fadeInRightBig animated"><small>from</small> <span>Rs.10,800</span></div>
                                <a href="/product_detail/iphone-6s" class="btn btn-outline btn-lg fadeInRightBig animated">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- END item -->
                    <!-- BEGIN item -->
                    <div class="item">
                        <img src="{% static 'assets/img/slider-3-cover.jpg' %}" class="bg-cover-img" alt="" />
                        <div class="carousel-caption">
                            <div class="container">
                                <h3 class="title m-b-5 fadeInDownBig animated">Macbook Air</h3> 
                                <p class="m-b-15 fadeInDownBig animated">Thin.Light.Powerful.<br />And ready for anything</p>
                                <div class="price fadeInDownBig animated"><small>from</small> <span>Rs.2,60679</span></div>
                                <a href="product_detail/macbook-air" class="btn btn-outline btn-lg fadeInUpBig animated">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END carousel-inner -->
                <a class="left carousel-control" href="#main-carousel" data-slide="prev"> 
                    <i class="fa fa-angle-left"></i> 
                </a>
                <a class="right carousel-control" href="#main-carousel" data-slide="next"> 
                    <i class="fa fa-angle-right"></i> 
                </a>
            </div>
            <!-- END carousel -->
        </div>
        <!-- END #slider -->
    
        <!-- BEGIN #promotions -->
        <div id="promotions" class="section-container bg-white">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="{% url 'product' %}" class="pull-right">SHOW ALL</a>
                    Exclusive promotions
                    <small>from 11 June 2024 - 20 June 2024</small>
                </h4>
                <!-- END section-title -->

                <!-- BEGIN row -->
                <div class="row row-space-10">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion promotion-lg bg-black-darker">
                            <div class="promotion-image text-right promotion-image-overflow-bottom">
                                <img src="{% static 'assets/img/iphone-se.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption promotion-caption-inverse">
                                <h4 class="promotion-title">iPhone SE</h4>
                                <div class="promotion-price"><small>from</small> Rs.87,874</div>
                                <p class="promotion-desc">A big step for small.<br />A beloved design. Now with more to love.</p>
                                <a href="/product_detail/iphone-se" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                    </div>

                    <!-- END col-6 -->

                    <!-- BEGIN col-3 -->

                    <div class="col-md-3 col-sm-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-blue">
                            <div class="promotion-image promotion-image-overflow-bottom promotion-image-overflow-top">
                                <img src="{% static 'assets/img/apple-watch-sm.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption promotion-caption-inverse text-right">
                                <h4 class="promotion-title">Apple Watch</h4>
                                <div class="promotion-price"><small></small> Rs.11,3679</div>
                                <p class="promotion-desc">You. At a glance.</p>
                                <a href="/product_detail/apple-watch-series-9" class="promotion-btn">Buy Now</a>
                            </div>
                        </div>
                        <!-- END promotion -->

                        <!-- BEGIN promotion -->
                        <div class="promotion bg-silver">
                            <div class="promotion-image text-center promotion-image-overflow-bottom">
                                <img src="{% static 'assets/img/mac-mini.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption text-center">
                                <h4 class="promotion-title">Mac Mini</h4>
                                <div class="promotion-price"><small></small> Rs.18,4142.00</div>
                                <p class="promotion-desc">It’s mini in a massive way.</p>
                                <a href="/product_detail/mac-mini" class="promotion-btn">Buy Now </a>
                            </div>
                        </div>
                        <!-- END promotion -->
                   
    
     </div>
                    <!-- END col-3 -->
    
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-silver">
                            <div class="promotion-image promotion-image-overflow-right promotion-image-overflow-bottom text-right">
                                <img src="{% static 'assets/img/mac-accessories.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption text-center">
                                <h4 class="promotion-title">Apple Accessories</h4>
                                <p class="promotion-desc">Redesigned. Rechargeable. Remarkable.</p>
                                <a href="/product/Apple/" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                         
                        <!-- BEGIN promotion -->
                        <div class="promotion bg-black">
                            <div class="promotion-image text-right">
                                <img src="{% static 'assets/img/mac-pro.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption promotion-caption-inverse">
                                <h4 class="promotion-title">Mac Pro</h4>
                                <div class="promotion-price"><small>from</small> Rs.1,299.00</div>
                                <p class="promotion-desc">Built for creativity on an epic scale.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div>
                        <!-- END promotion -->
                    </div>
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #promotions -->
    
        <!-- BEGIN #trending-items -->
        <div id="trending-items" class="section-container bg-silver">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    
                    Trending Items
                    <small>Shop and get your favourite items at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                
                <!-- BEGIN row -->
                <div class="row row-space-10">
                    {% for p in trending_products %}
                    {% if p.is_trending %}
                        <!-- BEGIN col-2 -->
                        <div class="col-md-2 col-sm-4">
                            <!-- BEGIN item -->                    
                            <div class="item item-thumbnail">
                                <a href="{% url 'product_detail' p.slug %}" class="item-image">
                                    <img src="media/{{ p.product_image }}" alt="" />
                                    <div class="discount">{{ p.discount_percentage }}% OFF</div>
                                </a>
                                <div class="item-info">

                                    <h4 class="item-title">
                                        <a href="{% url 'product_detail' p.slug %}">{{ p.product_name }}<br /></a>
                                    </h4>

                                    <p class="item-desc">{{ p.product_description }}.</p>
                                    <div class="item-price">Rs.{{ p.discounted_price|intcomma }}</div>
                                    <div class="item-discount-price">Rs.{{ p.orignal_price|intcomma }}</div>
                                </div>           
                            </div>
                            <!-- END item -->
                        </div>
                        <!-- END col-2 -->
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- END row -->
    
            </div>
            <!-- END container -->
        </div>
        <!-- END #trending-items -->
    
<!-- BEGIN #mobile-list -->
<div id="mobile-list" class="section-container bg-silver p-t-0">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            <a href="{% url 'mobile_phones' %}" class="pull-right">SHOW ALL</a>
            Mobile Phones
            <small>Shop and get your favorite phone at amazing prices!</small>
        </h4>
        <!-- END section-title -->

        <!-- BEGIN category-container -->
        <div class="category-container">
            <!-- BEGIN category-sidebar -->
            <div class="category-sidebar">
                <ul class="category-list">
                    <li class="list-header">Top Companies</li>
                    {% for c in mobile_companies %}
                    <li><a href="{% url 'product_by_company' company_name=c %}">{{ c }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- END category-sidebar -->

            <!-- BEGIN category-detail -->
            <div class="category-detail">
                <!-- BEGIN category-item -->
                <a href="/product_detail/iphone-15-pro" class="category-item full">
                    <div class="item">
                        <div class="item-cover">
                            <img src="{% static 'assets/img/pot.webp' %}" alt="Iphone 15 Pro Max" />
                        </div>
                        <div class="item-info bottom">
                            <h4 class="item-title">Iphone 15 Pro </h4>
                            <p class="item-desc">Redefine what a phone can do</p>
                            <div class="item-price">Rs.580,000.00</div>
                        </div>
                    </div>
                </a>
                <!-- END category-item -->

                <!-- BEGIN category-item list -->
                <div class="category-item list">
                    {% for mobile in mobiles %}
                    <!-- BEGIN item-row -->
                    <div class="item-row">
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="{% url 'product_detail' mobile.slug %}" class="item-image">
                                <img src="/media/{{ mobile.product_image }}" alt="{{ mobile.product_name }}" />
                                <div class="discount">{{ mobile.discount_percentage }} % off</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product_detail' mobile.slug %}">{{ mobile.product_name }}<br /></a>
                                </h4>
                                <p class="item-desc">{{ mobile.product_description }}.</p>
                                <div class="item-price">Rs. {{ mobile.discounted_price|intcomma }}</div>
                                <div class="item-discount-price">Rs. {{ mobile.orignal_price|intcomma }}</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                    <!-- END item-row -->
                    {% endfor %}
                </div>
                <!-- END category-item list -->
            </div>
            <!-- END category-detail -->
        </div>
        <!-- END category-container -->
    </div>
    <!-- END container -->
</div>
<!-- END #mobile-list -->



 <!-- BEGIN laptop-list -->
<div id="laptop-list" class="section-container bg-silver p-t-0">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            Laptops
            <small>Shop and get your favorite laptop at amazing prices!</small>
            <a href="{% url 'laptops' %}" class="pull-right">SHOW ALL</a>
        </h4>
        <!-- END section-title -->
        
        <!-- BEGIN category-container -->
        <div class="category-container">
            <!-- BEGIN category-sidebar -->
            <div class="category-sidebar">
                <ul class="category-list">
                    <li class="list-header">Top Companies</li>
            
                    {% for brand in laptop_companies %}
                    <li><a href="{% url 'product_by_company_laptops' company_name=brand %}">{{ brand }}</a></li>
                    {% endfor %}

                </ul>
            </div>
            
            <!-- END category-sidebar -->

            <!-- BEGIN category-detail -->
            <div class="category-detail">
                <!-- BEGIN category-item -->
                <a href="#" class="category-item full">
                    <div class="item">
                        <div class="item-cover">
                            <img src="{% static 'assets/img/mac.jpg' %}" alt="" />
                        </div>
                        <div class="item-info bottom">
                            <h4 class="item-title">Apple MacBook Pro 13-Inch</h4>
                            <p class="item-desc">The latest Apple Macbook Pro M1 Chip 16GB RAM 256 SSD 13 Inches</p>
                            <div class="item-price">Rs. 310,000</div>
                        </div>
                    </div>
                </a>
                <!-- END category-item -->

                <!-- BEGIN category-item -->
                <div class="category-item list">
                    <!-- BEGIN item-row -->
                    <div class="item-row">
                        {% for laptop in laptops %}
                            {% if laptop.category.category == 'Laptops' %}
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="{% url 'product_detail' laptop.slug %}" class="item-image">
                                        <img src="media/{{ laptop.product_image }}" alt="" />
                                        <div class="discount">{{ laptop.discount_percentage }} %off</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="{% url 'product_detail' laptop.slug %}">{{ laptop.product_name }}<br /></a>
                                        </h4>
                                        <p class="item-desc">{{ laptop.product_description }}.</p>
                                        <div class="item-price">Rs. {{ laptop.discounted_price|intcomma }}</div>
                                        <div class="item-discount-price">Rs. {{ laptop.orignal_price|intcomma }}</div>
                                    </div>
                                </div>
                                <!-- END item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- END item-row -->
                </div>
                <!-- END category-item -->
            </div>
            <!-- END category-detail -->
        </div>
        <!-- END category-container -->
    </div>
    <!-- END container -->
</div>

<!-- END Laptop-list -->

    {% endblock %}