<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        {% block title %}<title>E-Tech Shop</title>{% endblock %}
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
    
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/theme/default.css' %}" id="theme" rel="stylesheet" />
        <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />

        <!-- ================== END BASE CSS STYLE ================== -->
        
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>
        <!-- ================== END BASE JS ================== -->
    </head>
    {% block css %}

    {% endblock %}
<body>
     <!-- BEGIN #page-container -->
     <div id="page-container" class="fade">
        <!-- BEGIN #top-nav -->
        <div id="top-nav" class="top-nav">
            <!-- BEGIN container -->
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown dropdown-hover">
                            <a href="#" data-toggle="dropdown"><img src="{% static 'assets/img/english.png' %}" class="flag-img" alt="" /> English <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><img src="{% static 'assets/img/english.png' %}" class="flag-img" alt="" /> English</a></li>
                                <li><a href="#"><img src="{% static 'assets/img/german.png' %}" class="flag-img" alt="" /> German</a></li>
                                <li><a href="#"><img src="{% static 'assets/img/spanish.png' %}" class="flag-img" alt="" /> Spanish</a></li>
                                <li><a href="#"><img src="{% static 'assets/img/french.png' %}" class="flag-img" alt="" /> French</a></li>
                                <li><a href="#"><img src="{% static 'assets/img/chinese.png' %}" class="flag-img" alt="" /> Chinese</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact_us' %}">Customer Care</a></li>
                        <li><a href="{% url 'order_tracking' %}">Order Tracker</a></li>
                    </ul>
                   
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #top-nav -->
        <div id="header" class="header">
            <!-- BEGIN container -->
            <div class="container">
    <div class="header-container">
        <!-- BEGIN navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-logo">
                <a href="/">
                    <span class="brand"></span>
                    E-Tech Shop
                    <small>Empower Your Tech Life!!</small>
                </a>
            </div>
        </div>
        <!-- END navbar-header -->

        <!-- BEGIN header-nav -->
        <div class="header-nav">
            <div class=" collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown dropdown-full-width dropdown-hover">
                        <a href="#" data-toggle="dropdown">
                            Our Store 
                            <i class="fa fa-angle-down"></i>
                            <span class="arrow top"></span>
                        </a>

                        <!-- BEGIN dropdown-menu -->
                        <div class="dropdown-menu p-0">
                            <!-- BEGIN dropdown-menu-container -->
                            <div class="dropdown-menu-container">
                                <!-- BEGIN dropdown-menu-sidebar -->
                                <div class="dropdown-menu-sidebar">
                                    <h4 class="title">Shop By Categories</h4>
                                    <ul class="dropdown-menu-list">
                                        {% for c in categories %}
                                        <li><a href="{% url 'product_by_category' category_id=c.id %}">{{ c.category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                <!-- END dropdown-menu-sidebar -->

                                <!-- BEGIN dropdown-menu-content -->
                                <div class="dropdown-menu-content">
                                    <h4 class="title">Shop By Popular Seller Recommended Products</h4>
                                  
                                    <div class="row">
                                        {% for item in shuffled_products %}
                                        <div class="col-md-3">
                                            <ul class="dropdown-menu-list">
                                                <li><a href="{% url 'product_detail' item.slug %}"><i class="fa fa-fw fa-angle-right text-muted"></i>{{item.product_name}}</a></li>
                                               
                                            </ul>
                                            
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            <!-- END dropdown-menu-container -->
                        </div>
                        <!-- END dropdown-menu -->
                    </li>
                   

                    
                    <li><a href="{% url 'new-arrival' %}">New Arrival</a></li>
                    <li class="dropdown dropdown-hover">
                        <a href="#" data-toggle="dropdown">
                            Pages
                            <i class="fa fa-angle-down"></i> 
                            <span class="arrow top"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/">Home (Default)</a></li>
                            <li><a href="{% url 'search_results' %}">Search Results</a></li>
                            <li><a href="{% url 'product' %}">Product Page</a></li>
                            <!-- <li><a href="/product-detail">Product Details Page</a></li> -->

                            <li><a href="/my_account">My Account</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                            <li><a href="/about_us">About Us</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-hover">
                        <a href="#" data-toggle="dropdown">
                            <i class="fa fa-search search-btn"></i>
                            <span class="arrow top"></span>
                        </a>

                        <div class="dropdown-menu p-15">

                            <form action="{% url 'home' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" placeholder="Search" name="search" class="form-control bg-silver-lighter"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                            
                        </div> 
                    </li>
                </ul>
            </div>
        </div>
        <!-- END header-nav -->

        <!-- BEGIN header-nav -->
        <div class="header-nav">
            <ul class="nav pull-right">
                <li class="dropdown dropdown-hover">
                    <a href="" class="header-cart" data-toggle="dropdown">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="total">{{ request.user.get_cart_count }}</span>
                        <span class="arrow top"></span>
                    </a>
        
                    <div class="dropdown-menu dropdown-menu-cart p-0">
                        <div class="cart-header">
                            <h4 class="cart-title">Cart Items  </h4>
                        </div>
                        <div class="cart-body">
                         
                            {% if request.user.get_cart_count == 0 %}
                            <h4 class="cart-title
                            ">No Items in Cart</h4>
                            {% else %}

                            {% for cart_items in request.user.user_carts.all %}
                           
                            <ul class="cart-item">
                                <li>
                                    <div class="cart-item-image"><img src="{{cart_items.product.product_image.url}}" alt="" /></div>
                                    {% load humanize %}
                                    <div class="cart-item-info">
                                        <h4>{{cart_items.product.product_name}}</h4>
                                        <p class="price">{{cart_items.product.discounted_price|intcomma }}</p>
                                    </div>
                                   
                                    <div class="cart-item-close">
                                        <a href="{% url 'remove_cart' cart_items.product.slug %}" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>

                                </li>
                             

                            </ul>
                            {% endfor %}

                           
                            {% endif %}
                         

                        </div>
                                <!-- <li>
                                    <div class="cart-item-image"><img src="{% static  'assets/img/imac.jpg' %}" alt="" /></div>
                                    <div class="cart-item-info">
                                        <h4>21.5-inch  </h4>
                                        <p class="price">$1299.00</p>
                                    </div>
                                    <div class="cart-item-close">
                                        <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>
                                </li> -->

                                <!-- <li>
                                    <div class="cart-item-image"><img src="{% static 'assets/img/iphone.png' %}" alt="" /></div>
                                    <div class="cart-item-info">
                                        <h4>iPhone 6s 16GB - Silver</h4>
                                        <p class="price">$649.00</p>
                                    </div>
                                    <div class="cart-item-close">
                                        <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>
                                </li> -->

                           

                        <div class="cart-footer">
                            <div class="row row-space-10">
                                <div class="col-xs-6">
                                    <a href="{% url 'add_to_cart' %}" class="btn btn-default btn-block">View Cart</a>
                                </div>

                                <div class="col-xs-6">
                                    <a href="{% url 'product' %}" class="btn btn-inverse btn-block">Continue Shopping</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </li>

                {% if request.user.is_authenticated %}
     <li class="divider"></li>
    <li>
        <a href="{% url 'my_account' %}">
            {% if request.user.user_profile %}
                <img src="{{ MEDIA_URL }}{{ request.user.user_profile.url }}" class="user-img" alt="{{ request.user.first_name }}" />
            {% else %}
                <img src="{% static 'user_profile/default.webp' %}" class="user-img" alt="Default Profile Image" />
            {% endif %}
            <span class="hidden-xs">My Account</span>
        </a>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <span class="hidden-xs">Logout</span>
        </a>
    </li>
{% else %}
    <li class="divider"></li>
    <li>
        <a href="{% url 'login' %}">
            <img src="{% static 'assets/img/user-1.jpg' %}" class="user-img" alt="" />
            <span class="hidden-xs">Login / Register</span>
        </a>
    </li>
{% endif %}
</ul>
        </div>
        <!-- END header-nav -->
    </div>
    <!-- END header-container -->
</div>
<!-- END container -->
</div>
<!-- END #header -->

{% block content %}


{% endblock %}

        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Free Delivery Over $100</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>1 Year Warranty For Phones</h4>
                                <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>6 Month Warranty For Accessories</h4>
                                <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->
    
        <!-- BEGIN #subscribe -->
        <div id="subscribe" class="section-container bg-silver p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN subscription -->
                        <div class="subscription">
                            <div class="subscription-intro">
                                <h4> LET'S STAY IN TOUCH</h4>
                                
                                <p>Get updates on sales specials and more</p>
                            </div>
                            <div class="subscription-form">
                                <form name="subscription_form" action="{% url 'home' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="email" placeholder="Enter Email Address" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse"><i class="fa fa-angle-right"></i></button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END subscription -->
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN social -->
                        <div class="social">
                            <div class="social-intro">
                                <h4>FOLLOW US</h4>
                                <p>We want to hear from you!</p>
                            </div>

                            <div class="social-list">
                                <a href="https://www.facebook.com/StudywithAyaz"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/cgpa2pointzero"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/study_withayaz"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/@studywithayaz"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <!-- END social -->
                    </div>
                    <!-- END col-6 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #subscribe -->
    
        <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">ABOUT US</h4>
                        <p>
                            i am  Ayaz Khan: a passionate BS(IT) student currently in his 8th semester, and also an intern at Enigmatix. I am more than just a student; i am a dedicated educator with my own YouTube channel name 'Study with Ayaz', where i shares valuable educational content. With a commitment to learning and teaching, I brings a unique perspective to our team at Enigmatix
                        </p>
                     
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">RELATED LINKS</h4>
                        <ul class="fa-ul">
                                <li><a href="/">Home (Default)</a></li>
                                <li><a href="{% url 'search_results' %}">Search Results</a></li>
                                <li><a href="{% url 'product' %}">Product Page</a></li>
                                <li><a href="/checkout_cart">Checkout Cart</a></li>
                                <li><a href="/checkout_info">Checkout Shipping</a></li>
                                <li><a href="checkout_payment">Checkout Payment</a></li>
                                <li><a href="/checkout_complete">Checkout Complete</a></li>
                                <li><a href="/my_account">My Account</a></li>
                               
                        </ul>
                    </div>
                    <!-- END col-3 -->

                  <!-- BEGIN col-3 -->

       <div class="col-md-3">

    <h4 class="footer-header">LATEST PRODUCT</h4>
    <ul class="list-unstyled list-product">

        {% for item in latest_products %}
        <li>
            <div class="image">
                <a href="{% url 'product_detail' item.slug %}" class="item-image">
                    <img src="{{ item.product_image.url }}" style="width: 30px;" alt="{{ item.product_name }}" />
                </a>
            </div>

            <div class="info">
                <h4 class="info-title">{{ item.product_name }}</h4>
                <div class="price">Rs. {{ item.discounted_price }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

                    <!-- END col-3 -->

                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">OUR CONTACT</h4>
                        <address>
                            <strong>E-Tech Shop, Inc.</strong><br />
                           Trade Center <br />
                            Bahawalpur<br /><br />
                            <abbr title="Phone">Phone:</abbr> (92) 326487214<br />
                            <abbr title="Fax">Fax:</abbr> (92) 326487215<br />
                            <abbr title="Email">Email: </abbr> rzxgraphics@gmail.com<br />
                           
                        </address>
                    </div>
                    <!-- END col-3 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->
    
        <!-- BEGIN #footer-copyright -->
        <div id="footer-copyright" class="footer-copyright">
            <!-- BEGIN container -->
            <div class="container">
                <div class="payment-method">
                    <img src="{% static 'assets/img/payment_method.png' %}" alt="" />
                </div>
                <div class="copyright">
                    Copyright &copy; E-Tech Shop in djangp. All rights reserved.
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer-copyright -->
    </div>
    <!-- END #page-container -->
    
    <!-- begin theme-panel -->
    <div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <ul class="theme-list clearfix">
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <!-- end theme-panel -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<script src="{% static 'assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
</body
</html>
