{% extends 'index.html' %}
{% block title%}<title>Custome Care! </title> {% endblock %}
{% block content %}
{% load static %}   
  
<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
      
        <!-- END breadcrumb -->
        
        <!-- BEGIN row -->
        <div class="row row-space-30">
            <!-- BEGIN col-8 -->
            <div class="col-md-8">
                
             <h1>Reset your password</h4>
              <hr>

                {% include 'alert.html' %}

                <form action="{% url 'reset_password' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label">Old Password <span class="text-danger">*</span></label>
                        <input type="password" required class="form-control" placeholder="•••••••••••••" name="old_password" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">New Password <span class="text-danger">*</span></label>
                        <input type="password" required class="form-control" placeholder="•••••••••••••" name="new_password1" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Confirm Password <span class="text-danger">*</span></label>
                        <input type="password" required class="form-control" placeholder="•••••••••••••" name="new_password2" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Reset Password & Sign In →</button>
                    </div>
                </form>
            </div>
            <!-- END col-8 -->
           
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #product -->
{% endblock %}
